        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;

        }

        body {
            display: flex;
            justify-content: center;
            background-color: #eeeeee;
            min-height: 100vh;
            padding-top: 50px;
        }

        .todo-container {
            width: 100%;
            max-width: 500px;
            text-align: center;
            margin: 0 auto;
        }

        button {
            cursor: pointer;
            width: 100px;
            height: 40px;
            border-radius: 10px;
            background: #6c757d;
            color: #FFF6F6;
            border: 1px solid #dee2e6;
            transition: all 0.3s ease-in-out;
            box-shadow: 4px 2px 3px rgba(0, 0, 0, 0.1);

            &:hover {
                background: #dee2e6;
                background-color: #ced4da;
                box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.1);
                transform: translateY(-2px);
            }
        }

        input {
            width: 250px;
            height: 40px;
            text-align: left;
            border-radius: 10px;
            border: 1px solid #ccc;
            outline: none;
            font-size: 16px;
            padding: 0 10px;
        }

        .input-box {
            display: flex;
            gap: 25px;
            margin: 10px 0;
        }

        .todo-list {
            list-style: none;
            margin: 20px 0;
        }

        .todo-list li {
            display: flex;
            justify-content: space-between;
            align-items: center;
            text-align: left;
            padding: 10px;
            margin-bottom: 10px;
            background: #6c757d;
            color: white;

            border-radius: 10px;
            background: #6c757d;
        }

        .task-text {
            flex: 1;
            margin-right: 10px;
            word-break: break-all;
        }

        h1 {
            text-align: center;
        }

        .clear-btn {
            background: #dc3545;
            width: auto;
            padding: 5px;
        }